Mini bike/*/*/misc*
misc*
*.zip
Control Stuff/*
.vscode/settings.json
DDMPC Codes/bike_model_code_ACC/DD_MinMax_MPC_nominal_livescript.mlx
DDMPC Codes/matlab_toolboxes/*
ISTBaMa/BAMAtemplate.aux
ISTBaMa/BAMAtemplate.bbl
ISTBaMa/BAMAtemplate.log
ISTBaMa/BAMAtemplate.out
ISTBaMa/BAMAtemplate.synctex.gz
ISTBaMa/BAMAtemplate.toc

# exclude all main files in the Thesis folder
Thesis/main.*
# except the main.tex file
!Thesis/main.tex
Thesis/abstract.aux
Thesis/erklaerung.aux

Suggested PDFs/My further pdfs/Bicycles_motorcycles_and_models.pdf
*.asv
Thesis/chapters/*.aux
Thesis/chapters/*.aux
Thesis/chapters/*.log

MiniBike/Bike_codes_and_docs/MISC. codes/

# Google Translations
MiniBike/Bike_codes_and_docs/Documentation_Bike/old_translations/1.WHEELTEC bike manuel (Translation).pdf
MiniBike/Bike_codes_and_docs/Documentation_Bike/old_translations/2.WHEELTEC Stabilizing Bike Circuit and Programming Handbook (Translation).pdf
MiniBike/Bike_codes_and_docs/Documentation_Bike/old_translations/3.Stabilizing Bike Handlebar Steering Controller Design (Translation).pdf
# MiniBike/Bike_codes_and_docs/Documentation_Bike/1.WHEELTEC 舵机自平衡自行车上手使用手册.pdf
# MiniBike/Bike_codes_and_docs/Documentation_Bike/2.WHEELTEC 自平衡自行车电路与程序设计手册.pdf
# MiniBike/Bike_codes_and_docs/Documentation_Bike/3.基于车把转向控制的自平衡无人自行车.pdf

# MiniBike/Bike_codes_and_docs/3. Small bicycle standard version HAL library version_GMR encoder_2022.10.18/3.╨í╨═╫╘╨╨│╡▒Ω╫╝░µHAL┐Γ░µ▒╛_GMR▒α┬δ╞≈_2022.10.18/.settings/language.settings.xml

Thesis/chapters/chapter1.aux
Suggested PDFs/DDMPC/Data-Driven Min-Max MPC for Linear Systems_ Robustness and Adaptation.pdf
Suggested PDFs/DDMPC/Data-Driven_Min-Max_MPC_for_Linear_Systems.pdf
MiniBike/Flymcu and driver
MiniBike/Bike_codes_and_docs/collected_data/.env/
MiniBike/Bike_codes_and_docs/collected_data/*.json
MiniBike/Bike_codes_and_docs/collected_data/*.csv

*.swp
MiniBike/Bike_codes_and_docs/collected_data/parsed_data.json
MiniBike/Bike_codes_and_docs/collected_data/matlab_data.mat
MiniBike/Bike_codes_and_docs/collected_data/parsed_data.json
Thesis/Research Project Thesis.acn
Thesis/Research Project Thesis.bcf
Thesis/Research Project Thesis.blg
Thesis/Research Project Thesis.glo
Thesis/Research Project Thesis.ist
Thesis/Research Project Thesis.lof
Thesis/Research Project Thesis.lol
Thesis/Research Project Thesis.lot
Thesis/backup/Research Project Thesis.acn
Thesis/backup/Research Project Thesis.bcf
Thesis/backup/Research Project Thesis.blg
Thesis/backup/Research Project Thesis.glo
Thesis/backup/Research Project Thesis.ist
Thesis/backup/Research Project Thesis.lof
Thesis/backup/Research Project Thesis.lol
Thesis/backup/Research Project Thesis.lot
Thesis/backup/
Thesis/Research Project Thesis.run.xml
Thesis/Research Project Thesis.tdo

