Mini bike/*/*/misc*
misc*
*.zip
Control Stuff/*
.vscode/settings.json
DDMPC Codes/bike_model_code_ACC/DD_MinMax_MPC_nominal_livescript.mlx
DDMPC Codes/matlab_toolboxes/*
ISTBaMa/BAMAtemplate.aux
ISTBaMa/BAMAtemplate.bbl
ISTBaMa/BAMAtemplate.log
ISTBaMa/BAMAtemplate.out
ISTBaMa/BAMAtemplate.synctex.gz
ISTBaMa/BAMAtemplate.toc

# exclude all main files in the Thesis folder
Thesis/main.*
# except the main.tex file
!Thesis/main.tex
Thesis/abstract.aux
Thesis/erklaerung.aux

Suggested PDFs/My further pdfs/Bicycles_motorcycles_and_models.pdf
*.asv
Thesis/chapters/*.aux
Thesis/chapters/*.aux
Thesis/chapters/*.log

MiniBike/Bike Documentation and some codes/MISC. codes/

MiniBike/Bike Documentation and some codes/3. Small bicycle standard version HAL library version_GMR encoder_2022.10.18/3.╨í╨═╫╘╨╨│╡▒Ω╫╝░µHAL┐Γ░µ▒╛_GMR▒α┬δ╞≈_2022.10.18/.settings/language.settings.xml
MiniBike/Bike Documentation and some codes/Mini bike/1.WHEELTEC bike manuel (Translation).pdf
MiniBike/Bike Documentation and some codes/Mini bike/1.WHEELTEC 舵机自平衡自行车上手使用手册.pdf
MiniBike/Bike Documentation and some codes/Mini bike/2.WHEELTEC Stabilizing Bike Circuit and Programming Handbook (Translation).pdf
MiniBike/Bike Documentation and some codes/Mini bike/2.WHEELTEC 自平衡自行车电路与程序设计手册.pdf
MiniBike/Bike Documentation and some codes/Mini bike/3.Stabilizing Bike Handlebar Steering Controller Design (Translation).pdf
MiniBike/Bike Documentation and some codes/Mini bike/3.基于车把转向控制的自平衡无人自行车.pdf
Thesis/chapters/chapter1.aux
Suggested PDFs/DDMPC/Data-Driven Min-Max MPC for Linear Systems_ Robustness and Adaptation.pdf
Suggested PDFs/DDMPC/Data-Driven_Min-Max_MPC_for_Linear_Systems.pdf
MiniBike/Flymcu and driver