# ignore the following directory except the hex file
3. MiniBike HAL library version_GMR encoder_2022.10 .18/Debug/*
!Debug/WHEELTEC.hex
# !3. MiniBike HAL library version_GMR encoder_2022.10 .18/Debug/WHEELTEC.hex